@charset "UTF-8";

/* ======================================================
RESET DEFAULT STYLES
====================================================== */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, main, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after, q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}
/* ======================================================
BASICS
====================================================== */
* {
    margin: 0;
    padding: 0;
    outline: none;
}
html, body {
    width: 100%;
    min-width: 1024px;
	height: 100%;
    background: #30004b;
    color: #555555;
    font-size: 1rem;
    font-family: 'Roboto', Arial, Verdana, Helvetica, sans-serif;
    font-weight: normal;
    font-style: normal;
    font-variant: normal;
    text-transform: none;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-rendering: optimizeLegibility;
    z-index: 9999;
}
body{
	display: flex;
	flex-direction: column;
}
h1, h2, h3, h4, h5, h6 {
    text-transform: uppercase;
}

/* ======================================================
CONTAINERS
====================================================== */
main {
    width: 100%;
    clear: both;
}
.main-container {
    max-width: 1920px;
    margin: 0 auto;
    clear: both;
    overflow: hidden;
}
#react-container {
    background: #30004b;
}
footer {
    width: 100%;
    padding: 1.5rem 0;
    font-size: 90%;
    text-align: center;
    color: #d7b4f0;
    clear: both;
}
.project-info {
    padding-bottom: 10px;
}
/* ======================================================
STAGE
====================================================== */
.stage-container {
    max-width: 1024px;
    margin: 0 auto;
}
.title {
    font-family: 'Bowlby One SC', cursive;
    letter-spacing: 2px;
    font-size: 36px;
    padding: 20px 0 10px 0;
    color: #d7b4f0;
}
.stage-header {
    width: 100%;
    padding: 40px 0 50px 0;
    font-family: 'Bowlby One SC', cursive;
    letter-spacing: 1px;
    clear: both;
    overflow: hidden;
}